{% extends 'base.html.twig' %}

{% block title %}Detail poznámky{% endblock %}
 
 {% block body %}
  
  <div class="container"> 
    <div class="row">
        <div class="col"> 
            <h1>
                Detail poznámky
             </h1> 
        </div>
    </div>
    <div class="row"> 
        <div class="col">
            <p>
                <a href="/comments">&lt; Zpět</a>
            </p> 
        </div>
    </div>
    <div class="row">
        <div class="col"> 
            <p><strong>{{comment.shortdescription}}</strong></p>        
        </div>
    </div>
    <div class="row">
        <div class="col"> 
            <p>{{comment.description}}</p>
        </div>
    </div>
    
</div>    
{% endblock %}   